<div>

    {% comment %} <br>
    <br>
    <br> {% endcomment %}
</div>
<div id="foot">
    {% comment %} 占位 {% endcomment %}
</div>
<footer class="py-3 bg-dark text-center">
    {% comment %} <div class="container"> {% endcomment %}
    <p class="m-0 text-center text-white">Copyright &copy; 2020 Wakes</p>
    
    <a href={{site.gitee}}>
        <img id="site-logo" class="svg" src="{{site.baseurl}}/assets/images/gitee.svg" class="card-img-top" alt="..." >
    </a>

    <a href={{site.github}}>
        <img id="site-logo" class="svg" src="{{site.baseurl}}/assets/images/github.svg" class="card-img-top" alt="..." >
    </a>

    {% comment %} </div> {% endcomment %}
</footer>