
// 元素两端对齐
.text-between{
    display:flex;
    justify-content: space-between;
}

// post.html
[class*=highlight]{
    // border-color: #000000;
    // border:1px solid;
    border-radius:8px;
}
#blog{
    margin-bottom: 10px;
}
#blog .card{
    // transform: scale(1.01);
    box-shadow: 10px 10px 5px #888888;
}
// #blog .card:hover{
//     border-color: #333388;
// }