
// html,body { 
//   // 顶部导航固定时，防止遮挡下面的元素
//   // padding-top: 70px; 
//   height:100%;
// }

// 让footer一直保持在底部
html{
  height: 100%;
}
body{
  position:relative;
  min-height: 100%;
}

footer{
  position:absolute;
  bottom:0;
  width:100%;
  // height:100px;
}


// post.html
#post{
  margin-top: 2em;
}

// 代码块不要紧贴左侧
.highlight{
  padding-left: 5px;
}

// 针对markdown表格渲染没有网格线进行一下修改
table{
  // border-left:0.5px solid #c6cbd1;
  // border-top:0.5px solid #c6cbd1;
  // width: 100%;
  border: 1px solid #dfe2e5;
  word-wrap:break-word; 
  word-break:break-all;
  margin-left: 5px;
}
// table th{
//   text-align:center;
// }
table th,td{
  // border-right:0.5px solid #c6cbd1;
  // border-bottom:0.5px solid #c6cbd1;
  padding: 6px 13px;
  border: 1px solid #dfe2e5;
}

table tr:nth-child(2n) {
  background-color: #f6f8fa;
}

#toc{
  padding: 0em;
  // padding-top: 70px; // 防止导航栏遮挡
}

.back-to-top{
  padding-left: 5rem;
}

// 点击链接，打开新的页面
// a {
//   // href: ;
//   target: "_blank";
// }

#index {
 
  height: 100vh;
  background-image: url(../images/bg.jpg);
  background-size:100% 100%;
 }

// #index a{
//   margin-left: 5em;
//   margin-right: 5em;
// }

// #index img{
//   border-radius: 110px;
//   height: 150px;
// }

// #index img:hover{
//   transform: scale(1.01);
//   box-shadow: 10px 10px 5px #888888;
// }

// footer 占位防止遮挡
#foot{
  height: 60px;
}
footer p {
  display: inline;
}
footer a {
  display: inline;
}


#site-logo{
  height: 30px;
  // margin-right: 2em;
  margin-left: 2em;
}

// 防止遮挡
#js{
  margin-bottom: 10px;
}

// 画一个眼睛
#card-eye{
  min-height: 100px;
}
#out-eye {
  // 固定在底部，是眨眼看起来是从上向下眨眼
  position:absolute;
  bottom:0;
  display: inline-block;
}

// 画眼白
#eye {
  background-color: #555555;
  width: 80px;
  height: 40px;
  // 子元素水平垂直居中
  display: flex; 
  justify-content: center; 
  align-items: center;
  // border-radius: 100% 0;
  border-radius: 50% / 50%
  // position: relative;
  // animation: eyelid-blink-top 3s
}

// 画黑眼仁
#eye-ball{
  
  height: 30px;
  width: 30px;
  background-color: #000000;
  // 画一个眼球
  border-radius: 50%;
}


// 坐标轴控制按钮
#chart{
  // display: inline-block;
  display:flex;
  float: left;
//   justify-content: left;
}
#yRange{
  width: 40px;
  margin: 2px;
  margin-top: 30px;
}
#yRange h6{
  text-align: center;
}
#yRange button{
  // list-style: none;
  // display: flex;
  // align-items: space-between;
  // justify-content: space-between;
  width: 40px;
  height: 40px;
  min-width: 10px;
  margin-bottom: 10px;
  text-justify: auto;

}