
// html,body { 
//   // 顶部导航固定时，防止遮挡下面的元素
//   // padding-top: 70px; 
//   height:100%;
// }

// 让footer一直保持在底部
html{
  height: 100%;
}
body{
  position:relative;
  min-height: 100%;
}

footer{
  position:absolute;
  bottom:0;
  width:100%;
  // height:100px;
}


// post.html
#post{
  margin-top: 2em;
}

// 代码块不要紧贴左侧
.highlight{
  padding-left: 5px;
}

// 针对markdown表格渲染没有网格线进行一下修改
table{
  // border-left:0.5px solid #c6cbd1;
  // border-top:0.5px solid #c6cbd1;
  // width: 100%;
  border: 1px solid #dfe2e5;
  word-wrap:break-word; 
  word-break:break-all;
  margin-left: 5px;
}
// table th{
//   text-align:center;
// }
table th,td{
  // border-right:0.5px solid #c6cbd1;
  // border-bottom:0.5px solid #c6cbd1;
  padding: 6px 13px;
  border: 1px solid #dfe2e5;
}

table tr:nth-child(2n) {
  background-color: #f6f8fa;
}

#toc{
  padding: 0em;
  // padding-top: 70px; // 防止导航栏遮挡
}

.back-to-top{
  padding-left: 5rem;
}

// 点击链接，打开新的页面
a {
  // href: ;
  target: "_blank";
}
