.current {
    color: rgb(8, 199, 119);
  }

#Bootstrap {
  background-color: #563D7C;
}

#Fontawesome{
  background-color: #1971C2;
}

#Django{
  background-color: #0C4B33;
}

// .card-header.text-white.Django{
//   background-color: #0C4B33;
// } 
.badge.text-center.text-white {
  font-size: 50px;
  margin-bottom: 1.5rem;
}
// .Django{
//   background-color: #0C4B33;
// }