---
layout: default
---
<div class="container-fluid" id="blog">
  <div class="row justify-content-center" >
    <div class="col-6">
      
        <div class="card mt-2">
          <div class="card-body">
            <p id="demo">this is line</p>
            <div class="text-between">
              <p class="btn btn-primary" onclick="myFunction()">click</p>
            </div>
          </div>
        </div>




    </div>
  </div>
</div>



{% comment %} <div>
<p id="demo"></p>
<button type="button" onclick="myFunction()">尝试一下</button>
</div> {% endcomment %}