---
layout: default
---
<div class="container-fluid" id="blog">
  <div class="row justify-content-center" >
    <div class="col-6">
      
        <div class="card mt-2">
          <div id="echart">
            <p>111</p>
          </div>
        </div>

        <div class="card mt-2">
          <div id="echart-online">
            {% comment %} <p>111</p> {% endcomment %}
          </div>
            
          <div class="form-group">
            <label for="exampleInputEmail1">IP</label>
            <input type="text" class="form-control" id="IP" aria-describedby="emailHelp">
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">port</label>
            <input type="text" class="form-control" id="port" name="password">
          </div>
          <button type="submit" class="btn btn-primary" onclick="setWsConfig()">open</button>
        </div>
        
        <div class="card mt-2">
          <div class="card-body">
            <p id="demo">this is line</p>
            <div class="text-between">
              <p class="btn btn-primary" onclick="myFunction()">click</p>
            </div>
          </div>
        </div>

        <div class="card mt-2">
          <div class="card-body">
            <form onsubmit="return validateForm()" name="myForm">
              <div class="form-group">
                <label for="exampleInputEmail1">Email address</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
              </div>
              <div class="form-group">
                <label for="exampleInputPassword1">Password</label>
                <input type="password" class="form-control" id="exampleInputPassword1" name="password">
              </div>
              <div class="form-group form-check">
                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                <label class="form-check-label" for="exampleCheck1">Check me out</label>
              </div>
              <button type="submit" class="btn btn-primary">Submit</button>
            </form>
            
          </div>
        </div>


    </div>
  </div>
</div>



{% comment %} <div>
<p id="demo"></p>
<button type="button" onclick="myFunction()">尝试一下</button>
</div> {% endcomment %}