---
layout: default
title: ???
---

<div class="container-fluid mt-2">
	<div class="row row-cols-1 row-cols-md-2">
		{% for item in site.data.source %}
			<div class="col mb-2">
				<div class="card text-center h-100 w-100">
					<div class="card-header text-white" id="{{item.name}}">
						{{item.name}}
					</div>

					<div class="card-body" >
						{% if item.logo %}
							<img class="svg" src="{{site.baseurl}}/assets/images/{{item.name}}.svg" width="100" class="card-img-top" alt="..." >
						{% else %}
							<span class="badge text-center text-white" id="{{item.name}}">{{item.name}}</span>
						{% endif %}
						
						<p class="card-text text-down">
							<strong>
								{{item.introduction}}
							</strong>
						</p>
					</div>

					<div class="card-footer">
						<a href="{{item.link}}" class="btn btn-primary">??</a>
					</div>
				
				</div>
			</div>
		{% endfor %}
	</div>
	

</div>
